.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.links{
    padding: 2rem;
}

.intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Intro_texto{
    width: 450px;
}

.Barra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Barra_parrafo{
    width: 450px;
}

.Grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Grid_inferior{
    grid-column: 2/2;
}