body{
    font-family: 'Be Vietnam Pro';
}

.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.links{
    padding: 2rem;
}

.boton{
    width: 140px;
    height: 45px;
    text-align: center;
    background-color: #8B48BF;
    background-clip: content-box;
    border-radius: 50px;
    justify-content: left;
    color: white;
}

.intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 260px;
    margin-bottom: 260px;
    margin-left: 180px;
    gap: 100px;
}

.Intro_texto{
    width: 450px;
    text-align: right;
}

.Intro_titulo{
    font-size: 50px;
    color: #232C50;
}

.Barra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    height: 168px;
    gap: 100px;
    width: 100%;
    background-color: #8B48BF;
    color: white;
}

.Barra_texto{
    width: 700x;
    font-size: 36px;
}

.Barra_parrafo{
    width: 450px;
    font-size: 16px;
}

.Grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Grid_inferior{
    grid-column: span 2;
}